@model Luftborn.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-header text-white text-center" style="background-color: #247B7B;">
                    <h2 class="mb-0">Category Details</h2>
                </div>
                <div class="card-body p-4 text-center">
                    <dl class="row justify-content-center">
                        <dt class="col-sm-4 fw-bold" style="color: #0D5C63;">
                            Category Name:
                        </dt>
                        <dd class="col-sm-8 text-dark">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer border-top-0 text-center">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn text-white" style="background-color: #247B7B;">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Index" class="btn text-white" style="background-color: #78CDD7;">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
